.checkout-container{
    margin-top: 5%;
    margin-left: 30px;
    width:80%
}

.address-header{
    background-color: #2874f0;;
    color: white;
    padding: 10px;
    text-align: left;
}
.address-content{
     display: flex;
     flex-direction: column;
     border: 1px solid whitesmoke;
     background-color: white !important;
}
.address{
    border: 1px solid whitesmoke;
    display: flex;
}
.btn{
    display: flex !important;
    flex-direction: column !important;
    background-color: whitesmoke !important;
    color:black
}
.radio{
    display: inline;
}
.form-check{ 
    border: 3px solid green !important;
    margin: 10px;
    margin-left: 30px; 
    display: flex;
}

.addressContent {
    max-width: 848px;
    text-align: left;
    border-left: 10px;
    display: flex;
    justify-content: space-between;
}

 .form-check-inputValue.address1 {
   float: inline-start;
    margin-left: -3rem !important;
    color: #007bff;

   
}



.form-check-label {
    float: inline-start;
     margin-left: 7rem !important;
    
 }

.label1 {
    width: 80%;

}

  .input-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 50%;
    margin-bottom: 15px; 
}

@media (max-width: 900px) {
    .form-group {
        width: 100%; 
    }
}


.btnAdress {
  display: block;
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #007bff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  
    
}

.btnAdd  {
    display: block;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}

.btn1:hover {
    background-color: blue;
  }



  .btnColor {
    background-color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-top: 25px;
  }


  .form-control {

    width: 80%;
    line-height: 1.8;
  }