.cart-container{
    margin-top: 8% !important;
    margin: 0 50px;
}
.cart-items{
    display: flex;
    flex-direction: column;
    max-width: 950px;
}
img{
    border: 1px solid #f0f0f0    !important;
}
.delete{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.item,.summary{
    border: 1px solid #f0f0f0!important;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    padding: 18px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    
}
.details{
    display: flex;
    flex-direction: row;
    align-items: start;
    .right{
        margin-left:  25px;
    }
}
.product-name{
    text-transform: capitalize !important;
}
.place-order{
    display: flex;
    flex-direction: row-reverse;
}

.btnColor {
    background-color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-top: 25px;
  }
  
  .btnColor:hover {
    background-color: blue;
  }