
.form-group {
  margin-bottom: 15px;
}


.align {
text-align: center;
font-style: normal;
}


.head {
  display: flex;
  margin-bottom: 5px;
  margin-top: 25px;
}

.form-control-item {
  width: 195%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}


.btn:hover {
  background-color: #0056b3;
}



.form-control-item-lists {

  width: 195%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  
}