.login-container {
  margin-top: 150px;

}

.form-group {
  margin-bottom: 15px;
}


.align {
  text-align: center;
  font-style: normal;
}


.head {
  display: flex;
  margin-bottom: 5px;
  margin-top: 25px;

}

.form-control-item {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.form-control-item-lists {

  width: 195%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;

}