.product-container{
    margin-top: 10%;
}
.my-container{
    max-width: 500px;
    width: 100%;
    margin-left: 450px;
    background-color: #fff;
    padding: 25px 90px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.button-edit{
    color:black;
    background-color: gray;
}